<?php
$this->title = "Главная";
?>

<h2>Фьючерсы USDT</h2>

<div class="commandbar">
    <div class="command">
        <form action="/symbols/update.html" class="ctl saver"><button>Обновить</button></form>
        <form action="/symbols/get.html" class="ctl editor default"><button>Изменить</button></form>
        <form action="/symbols/show.html" class="ctl editor"><button>Открыть</button></form>
    </div>
    <div class="filter">
        <input type="text" name="find" placeholder="Найти символ">
    </div>
</div>

<div class="informer"></div>

<div class="fixed">
    <table class="th"><tr>{HEAD}<th></th></tr></table>
</div>

<div class="scrollable">
    <table class="td formdata">{SYMBOLS}</table>
</div>