<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Вход</title>
	<link rel="shortcut icon" href="#">
	<link rel="stylesheet" href="css/login.css">
	<script src="js/login.js"></script>
</head>
<body>
	
	<form id="auth" method="post" novalidate>
	  <label for="usr">Электронная почта:&nbsp;</label>
	  <input type="text" id="usr" name="usr" />
	  <label for="pwd">Пароль:&nbsp;</label>
	  <input type="password" id="pwd" name="pwd" />
	  <input type="submit" />
	</form>

	<div id="extra">
		<a href="login/remote.html" rel="external">Войти через сервер 188.225.58.61</a>
	</div>
	
</body>
</html>