<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Мое приложение</title>
	<link rel="stylesheet" href="css/template.css">
	{CONTENT-CSS}
	<script type="text/javascript" src="js/template.js"></script>
	{CONTENT-SCRIPT}
</head>
<body>

	<div class="top bar">
		<div class="state">{NAME}</div>
		<a href="login.html">{LOGIN}</a>
	</div>

	<div class="centerfold">{CONTENT}</div>

</body>
</html>