html, body {
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
a:hover {
	text-decoration: none;
}
.bar {
	min-height: 33px;
    line-height: 33px;
    white-space: nowrap;
    margin: 0;
	padding: 0 15px;
}
.top.bar {
	background-color: black;
    color: white;
	display: flex;
	flex-direction: row;
}
.top.bar .state {
	flex-grow: 1;
}
.top.bar a {
	color: white;
}
.centerfold {
	flex-grow: 1;
	display: flex;
}
.status.bar {
	background-color: lightgray;
	border-top: 1px solid gray;
	display: flex;
	flex-direction: row;
}
.status.bar .state {
	flex-grow: 1;
}
.popup {
	display: none;
	position: absolute;
	bottom: 48px;
	right: 0;
	background-color: lightgray;
	border: 1px solid gray;
	border-radius: 4px;
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.popup.active {
	display: block;
}

.popup {
	min-width: 25vw;
}
.popup .action {
	display: block;
	margin: 0;
	padding: 10px 33px;
}
.popup .detail {
	margin: 0;
	padding: 10px 33px;
	border-top: 1px solid gray;
	color: gray;
}
.popup .detail.warning {
	color: red;
}

#symbols {
	width: 175px;
	margin: 15px;
}
#symbols .symbol {
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 4px;
	margin-bottom: 15px;
}
#symbols .symbol .switch {
	margin: 0;
	padding: 15px;
}
#symbols .symbol .detail {
	margin: 0;
	padding: 15px;
	border-top: 1px solid lightgray;
	color: lightgray;
}
#symbols select[name='symbols'] {
	height: 24px;
	width: 100%;
}

.symbol input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}
.symbol label {
	float: right;
	cursor: pointer;
	text-indent: -9999px;
	width: 37px;
	height: 14px;
	margin-top: 2px;
	border-radius: 7px;
	background-color: gray;
	position: relative;
}
.symbol label:after {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 18px;
	height: 18px;
	border-radius: 9px;
	border: 1px solid gray;
	background-color: #ffffff;
	transition: 0.3s;
}
.symbol input:checked + label {
	background-color: darkgreen;
}
.symbol input:checked + label:after {
	left: 100%;
	transform: translateX(-100%);
}
.symbol label:active:after {
	width: 26px;
}