.quotes {
    flex-grow: 1;
    overflow-y: auto;
}
.quotes table {
    width: auto;
}
.quotes table tr td {
    padding: 3px 10px;
    text-align: right;
    border: none;
}
.quotes table tr td:first-child {
    border-right: 1px solid gray;
}
.quotes .ask td:first-child {
    background-color: #ffcccb;
}
.quotes .bid td:first-child {
    background-color: lightgreen;
}
.quotes table tr td:nth-child(2) {
    padding-left: 0;
    width: 100px;
}
.quotes table tr td:nth-child(2) div {
    height: 16px;
    min-width: 4px;
    max-width: 200%;
    background-color: orange;
}