html, body {
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
a:hover {
	text-decoration: none;
}
.bar {
	min-height: 33px;
    line-height: 33px;
    white-space: nowrap;
    margin: 0;
	padding: 0 15px;
}
.top.bar {
	background-color: black;
    color: white;
}
.top.bar a {
	color: white;
}
.centerfold {
	flex-grow: 1;
}
.status.bar {
	background-color: lightgray;
	border-top: 1px solid gray;
}