<h2>{TITLE}</h2>

<div class="commandbar">
    <div class="command">
        <form action="/symbols/snapshot.html" class="ctl connector"><button>Включить</button></form>
    </div>
</div>

<div class="informer"></div>

<form class="formdata {SYMBOL}">
    <img src="/css/loading.gif" onload="onimgload(this);">
    {USERFIELDS}
</form>

<div class="quotes">
    <table class="{SYMBOL}">
        <tbody class="ask"></tbody>
        <tbody class="market"></tbody>
        <tbody class="bid"></tbody>
    </table>
</div>