<h2>{TITLE}</h2>

<div class="commandbar">
    <div class="command">
        <form action="order.html" class="ctl"><button>Продать</button></form>
        <form action="order.html" class="ctl"><button>Купить</button></form>
        <form action="symbols/snapshot.html" class="connector default"><button>Включить</button></form>
    </div>
</div>

<div class="informer"></div>

<div class="wrap">

    <div class="trade {SYMBOL}">
        <form action="position.html" class="formdata">
            <input type='hidden' name='id' value='{SYMBOL}'>
            {USERFIELDS}
            <dl>
                <dt><label>Стоп для продажи:</label><input type='text' name='sl_sell'></dt>
                <dt><label>Цена сделки:</label><input type='text' name='price'></dt>
                <dt><label>Стоп для покупки:</label><input type='text' name='sl_buy'></dt>
                <hr>
                <dt><label>Риск:</label><input type='text' name='risk' value="{RISK}"></dt>
                <dt><label>Депозит:</label><input type='text' name='deposit' value="{DEPOSIT}"></dt>
                <dt><label>Плечо:</label><input type='text' name='leverage' value="{LEVERAGE}" disabled></dt>
            </dl>
        </form>
        <svg class="chart"></svg>
        <img src="/css/loading.gif" width="40px" height="40px" onload="tradeLoad(this);">
    </div>


    <div class="quotes {SYMBOL}">
        <img src="/css/loading.gif" onload="bookLoad(this);">
        <table><tbody></tbody></table>
    </div>
</div>